---
import Layout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<h1>Welcome!</h1>

	<p>
		I am <a href="https://github.com/theopechli">@theopechli</a>, a programmer that likes to create things.
	</p>

	<p>Here are a few interests of mine, in no particular order:</p>
	<ul>
		<li>Game development</li>
		<li>Web application development</li>
		<li>Programming language design</li>
		<li>Compilers</li>
		<li>Fuzzing</li>
		<li>Reverse engineering</li>
	</ul>

	<p>
		For those interested, you could check out some of my <a href="/projects">Projects</a> or take a peek at my <a href="/resume">Résumé</a>.
	</p>
</Layout>
