---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout
	title="theopechli's projects"
	description="Some of theopechli's projects."
>
	<h1 class="title">Projects</h1>

	<div class="projects">
		<div class="project">
			<h2><a href="https://github.com/theopechli/SDL_shadercross_Odin">SDL_shadercross_Odin</a></h2>
			<p>
				<a href="https://odin-lang.org">Odin</a> bindings for <a href="https://github.com/libsdl-org/SDL_shadercross">SDL_shadercross</a>, showcasing both online and offline shader compilation. Online shader compilation is done via the <strong>SDL_shadercross</strong> API, and offline via the <strong>shadercross</strong> binary file.
			</p>
		</div>
		<div class="project">
			<h2><a href="https://brioche.theopechli.com">Brioche</a></h2>
			<p>
				<strong>Brioche</strong> is a web application for a bakery / coffee shop. This instance is a demo version, and it was not properly tested. You can log in with the following users:
			</p>

			<ul>
				<li>
					<strong>john.doe@example</strong>: johndoe66666666
				</li>
				<li>
					<strong>alice.chains@example</strong>: alicechains9999
				</li>
			</ul>

			<p>
				I like quite a lot of things about this project, but I couldn't implement a good UI/UX. It has a lot of issues, appearance-wise. This was the third implementation, which was created with the <a href="https://elixir-lang.org">Elixir programming language</a> and the <a href="https://www.phoenixframework.org">Pheonix Framework</a>. Here are a few things I like about it:
			</p>

			<ul>
				<li>
					It runs mainly on <a href="https://hexdocs.pm/phoenix_live_view/welcome.html">Phoenix LiveView</a>
				</li>
				<li>
					It supports notifications with <a href="https://hexdocs.pm/phoenix/channels.html">Phoenix Channels</a>
				</li>
				<li>
					It plays audio with <a href="https://howlerjs.com">HOWLER.JS</a>
				</li>
				<li>
					It supports proper <a href="https://dashbit.co/blog/soft-deletes-with-ecto">Soft Deletion</a> (thank you, <strong>José Valim</strong>)
				</li>
				<li>
					It operates in accordance with GDPR and anonymizes <strong>Personal Identifiable Information</strong> on account deletion
				</li>
				<li>
					It uses <a href="https://hexdocs.pm/ecto/Ecto.Multi.html">
Ecto.Multi</a> to pack operations that should be performed in a single database transaction. For example, when completing an order the user's cart must be emptied, but this holds true only if the order is completed successfully. Otherwise, the user's cart could be emptied even if the order was not completed. By packing multiple operations into one transaction, these issues can be avoided.
				</li>
			</ul>

			<p>
				It also has other boring things like an authentication system, social log in (OAuth2), mailing system, admin routes... blah blah blah, you get the idea.
			</p>

			<p>
				I could do so much more with this project, but I don't have the time right now... I still imagine this project as a fully interactive, near real-time application, but it's not there yet. And the UI... it needs to be redone from scratch.
			</p>
		</div>
	</div>
</Layout>

<style>
	.title {
		padding-bottom: 1em;
	}

	.projects {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>
