---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h1><a href="/">Theo G. Pechli</a></h1>

		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/resume">Résumé</HeaderLink>
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--bg-main);
	}

	nav {
		padding: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		gap: 1em;
	}

	h1 {
		margin: 0;
		font-size: 3.702em;
	}

	h1 a,
	h1 a.active {
		text-decoration: none;
		color: var(--fg-text-active);
	}

	.internal-links {
		display: flex;
		flex-direction: row;
		align-self: center;
		gap: 0.6em;
	}

	@media (max-width: 920px) {
		nav {
			flex-direction: column;
			gap: 1em;
		}
	}
</style>
